body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

div.cadre {
    border: 1px solid #bbb;
    padding: 30px;
    margin-bottom: 80px;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.vignette-article {
    float: left;
    border: 1px solid #aaa;
}

table img {
    width: 50px;
}

.total_ttc {
    text-align: right;
}

label.recherche {
    font-size: 12px;
}